.applicationContainer {
  display: grid;
  grid-template-rows: 80px 80px 1fr;
  height: 100%; }
  .applicationContainer .applicationHeader {
    background: white;
    display: flex;
    align-items: center;
    padding: 0 40px; }
  .applicationContainer .applicationSubHeader {
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center; }
    .applicationContainer .applicationSubHeader .actions {
      width: 100%;
      max-width: 1400px;
      margin: 0 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
  .applicationContainer .applicationContent {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px 50px;
    overflow: auto; }

.notificationContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
  width: 100%;
  max-width: 1400px;
  justify-content: center;
  grid-gap: 10px; }
